[submodule "src/dynamixel_pan_tilt"]
	path = src/dynamixel_pan_tilt
	url = https://github.com/archie1983/dynamixel_pan_tilt
[submodule "src/DynamixelSDK"]
	path = src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK
[submodule "src/dynamixel-workbench"]
	path = src/dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench
[submodule "src/dynamixel-workbench-msgs"]
	path = src/dynamixel-workbench-msgs
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench-msgs
[submodule "src/ROS-TCP-Endpoint"]
	path = src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint
